* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: #333;
    line-height: 1.6;
}

header {
    background: #333;
    color: #333;
    padding: 10px 0;
    text-align: center;
}

header .logo h1 {
    font-size: 2rem;
    margin-bottom: 5px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

.hero {
    background: #333;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
}

#agenda {
    padding: 40px 20px;
    background: #333;
    text-align: center;
}

#agenda h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.schedule {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.session {
    background: #f9f9f9;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.session h3 {
    color: #FF4500;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.session p {
    color: #555;
}

#contato {
    background: #333;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

#contato h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #F8F8FF;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    padding: 12px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

form button:hover {
    background: #0056b3;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

img {
    width: 100%;        /* A imagem ocupa 100% da largura do contêiner */
    height: auto;       /* A altura é ajustada automaticamente para manter a proporção */
    max-width: 100%;    /* A imagem não ultrapassa a largura do seu contêiner */
}

